.header-icon
{
  width: 64px;
  height: 64px;
}

.issue-excerpt ul {
  margin-left: 14px;
}

a > * {
  text-decoration-color: currentcolor !important;
}

.issue-form-layout-left {
  width: 60%;
}

.issue-form-layout-right {
  width: 40%;
}

@media(max-width: 1012px)
{
  .issue-form-layout-left {
    width: 100%;
  }

  .issue-form-layout-right {
    width: 100%;
  }
}

/*Markdown Input*/
.markdown-input .tabnav {
  margin-bottom: 0;
  border-radius: 6px 6px 0 0;
  border: 1px solid var(--color-border-default);
  background-color: var(--color-canvas-subtle);
}

.markdown-input:focus-within .tabnav {
  border-color: var(--color-accent-fg);
  border-bottom-color: var(--color-border-default);
}

.markdown-input:focus-within textarea.markdown-textarea {
  border-color: var(--color-accent-fg);
  outline: none;
}

.markdown-input .tabnav .tabnav-tab {
  border-top: none;
}

.markdown-input .tabnav .tabnav-tab:first-of-type {
  border-top: none;
  border-left: none;
}

.markdown-input textarea.markdown-textarea {
  border-top: none;
  border-radius: 0 0 6px 6px;
  background-color: var(--color-canvas-default);
  box-shadow: none;
  resize: none;
}

.markdown-input .toolbar {
 height: 39px;
 display: flex;
}
